<div id="nav">
    <ul>
        <li>
    
    <a href="/" class="navlink">Home</a>
    {% if a%}
     <a href="/article/{{ a.Title|url_encode }}">{{ a.Title }}</a>
    {% endif%}
        </li>
    </ul>
</div>