<html>
    <head>
        {% include 'misc/head.twig' %}
        <title>Nice Blog {{ pagename|default('') }}</title>        
    </head>
    <body>
        <div>
        {% block mini_login %}
        {% endblock %}
        </div>
        <div id="content">
        {% block quickpost %}
        {% endblock %}
        {% block articles %}
        {% endblock %}
        </div>
    </body>
</html>